#{extends 'main.html' /}
#{set title:'Home' /}

<!doctype html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 320px)" href="public/stylesheets/new.css" />
    <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
</head>
<!--==============================body=================================-->
<body>
<!--==============================header=================================-->
<header>

</header>
<div id="contenido">
    <!--==============================section=================================-->
    <section>
        <section>
            <div id="textoPr">
                <!--==============================article=================================-->
                <article>
                    <div id="banernombre">
                        <h1>Nombre de la prenda</h1>
                    </div>
                    <div id="banerdescripcion">
                        <p>Descripcion de la prenda</p>
                    </div>
                    <div id="banerprecio">
                        <h3>$0.00</h3>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <div id="textoPr2">
                <article><!--==============================article=================================-->
                    <img id="imagen"src="public/images/imagen.jpg"width="400" height="550">

                </article>
            </div>
            </article>
</div>
</section>
</section>
</div>
<!--==============================aside=================================-->
<aside>

</aside>
<!--==============================footer=================================-->
<footer>
    <ul></ul>
</footer>
</body>
</html>